* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: black;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    color: white;
}

.main {
    background-image: url("./Assets/image/netflix_bg.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: none;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .box1 {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
}

.navbar {
    max-width: 80vw;
    margin: auto;
    height: 100px;
    position: absolute;
    z-index: 1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    padding-top: 10px;
    padding-left: 200px;
}

.box {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;

}

.form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: none;
}

.form-check-input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.text-body-secondary {
    color: white !important;
    position: relative;
    z-index: 1;
    font-size: 12px;
}

.btn-primary {
    background-color: #e50914;
    border: none;
}

.btn-primary:hover {
    background-color: #f6121d;
}